<mat-card class="data-card">
    <mat-card-subtitle>
       <p style="font-size: 12px;"> task ID:<br>{{taskCard._id}} </p>
    </mat-card-subtitle>
    <mat-card-content>
        {{taskCard.title}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="buttons" [disabled]="taskCard.completed" (click)="setCompleted()">{{taskCard.completed? "Well Done!":"Set Complete"}}</button>
    </mat-card-actions>
</mat-card>
