<mat-card [ngClass]="[userTasksStatus(singleUser)? 'card_frame_green':'card_frame_red']">
    <form #f="ngForm">
        <table (click)="$event.stopPropagation()">
            <tr>
                <th>Name:</th>
                <td>
                    <input type="text" name="name" [(ngModel)]="singleUser.Name"> 
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>
                    <input type="text" name="email" [(ngModel)]="singleUser.Email">
                </td>
            </tr>
        </table>
        <div  (click)="$event.stopPropagation()">
            <button mat-raised-button class="buttons" color="primary" (mouseenter)="toggleInfo()" (click)="closeInfo()">more info</button>
            <button mat-raised-button class="buttons" color="accent" style="position:relative; left: 30px" (click)="updateUser()">update</button>
            <button mat-raised-button class="buttons" color="warn" style="position:relative; left: 30px" (click)="deleteUser()">delete</button>
        </div>
        <div *ngIf="moreInfoToggle" (click)="$event.stopPropagation()">
            <table>
                <tr>
                    <th>Street:</th>
                    <td>
                        <input type="text" name="street" [(ngModel)]="singleUser.Street"> 
                    </td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>
                        <input type="text" name="city" [(ngModel)]="singleUser.City">
                    </td>
                </tr>
                <tr>
                    <th>ZipCode:</th>
                    <td>
                        <input type="text" name="zip" [(ngModel)]="singleUser.Zipcode">
                    </td>
                </tr>
            </table>
        </div>    
    </form>
</mat-card>