<div style="display:flex; flex-direction: row;">
    <mat-card class="card_style">
        <mat-card-content>
        <mat-card-header>
            <form #f="ngForm">
                <input type="text" name="search" placeholder="Search" [(ngModel)]="search" (keyup)="filter()"> 
                <button mat-raised-button class="buttons" color="primary" (click)="TasksPosts=false; newUserToggle=!newUserToggle">New User</button>
            </form>
        </mat-card-header>
            <div  *ngFor="let user of usersList">
                <div (click)="visibleTasksPosts(user); newUserToggle=false">
                    <app-user [singleUser]="user"></app-user>
                </div>
                
            </div>
        </mat-card-content>
    </mat-card>
    
    <!-- Add User -->
    <div *ngIf="newUserToggle">
        <app-new-user></app-new-user>
    </div>
    <div *ngIf="TasksPosts" style="display:flex; flex-direction: row;">
        <app-posts-tasks-cols [focusUser]="focusUser"></app-posts-tasks-cols>
    </div>
</div>